.data__list {
  flex-grow: 5;
  overflow: auto;
}
.data__list table {
  width: 100%;
}

.datalist__item td {
  border-collapse: collapse;
  border: 0;
}

.datalist__item:nth-child(even) {
  background: #ccc;
}
.datalist__item:nth-child(odd) {
  background: #fff;
}

.datalist__raw {
  display: flex;
  justify-content: space-around;
}

.datalist__raw-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.datalist__raw-button:hover {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .datalist__column-raw {
    display: none;
  }
}
