.explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.explorer__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.explorer__version {
  margin: 0;
  margin-left: 3rem;
}
